h1 {
    text-align: center;
}
.mainDiv {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.DownloadBut {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*padding: 200px;*/
}

.DownloadBut > * {
    margin-bottom: 10px;
    width: fit-content;
}

.loadedImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*width: 100%;*/
    text-align: center;
}
#forInImage {
    /*margin-top: 50px;*/
    vertical-align: top;
    border: 2px solid grey; /* Параметры границы */
    background: darkseagreen; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}
#forOutImage {
    /*margin-top: 75px;*/
    vertical-align: top;
    border: 2px solid grey; /* Параметры границы */
    background: darkseagreen; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}

img {
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}

body {
    /*background: linear-gradient(to right, green, yellow, red, blue, green, yellow, red, blue);*/
    background: url("resources/bg.jpg") no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
}